@import 'common';

header{
  height: 5em;
  background-color: $primary-color;
}

.slides{
  height: 15em;
  background-color: $primary-color-light;
}

.models{
  overflow: hidden;
  // padding-top: 15px;
  height: 20em;
  background-color: $primary-color;
  .models-button{
    margin: 0 auto;
    margin-top: 7em;
  }
}

footer{
  height: 5em;
  background-color: grey;
}

